<h1>Login</h1>
<br/>

<form method="post" action="/login">
	<ul>
		<li>
			<label>Username: </label>
			<input type="text" name="username"/>
		</li>

		<br>

		<li>
			<label>Password: </label>
			<input type="password" name="password"/>
		</li>

		<br>

		<li>
			<input type="submit" value="Login"/>
		</li>
	</ul>
</form>