<h1>Register</h1>
<br>

<form method="post" action="/register">
	<ul>
		<li>
			<label>Username: </label>
			<input type="text" name="username"/>
		</li>

		<br>

		<li>
			<label>Email: </label>
			<input type="email" name="email"/>
		</li>

		<br>

		<li>
			<label>Password: </label>
			<input type="password" name="password1"/>
		</li>

		<br>

		<li>
			<label>Retype password: </label>
			<input type="password" name="password2"/>
		</li>

		<br>

		<li>
			<input type="submit" value="Register"/>
		</li>
	</ul>
</form>